body {
  background-color: hsl(185, 75%, 39%);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

p {
  margin: 0;
}

/* SECTION */
  #section {
    font-family: 'Kumbh Sans', sans-serif;
  }

  .bg-img-top {
    position: absolute;
    top: -300px;
    left: -80px;
  }

  .bg-img-btm {
    position: absolute;
    bottom: -420px;
    right: -70px;
  }

/* CARD LAYOUT */
  .card {
    height: 22rem;
    width: 22rem;
    box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.1);
    border-radius: 3%;
    overflow: hidden;
    border: none;
  }

/* CARD HEADER PART */
  .card-header {
    text-align: center;
    background: url(https://github.com/Harshitsoni2000/Profile-card-component/blob/main/images/bg-pattern-card.svg);
  }

  .victor-img {
    position: relative;
    top: 70px;
    border-radius: 100%;
    border: 5px solid white;
  }

/* CARD BODY PART */
  .card-body {
    position: relative;
    padding: 20% 30% 5%;
  }

  .body-heading, .heading {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    font-size: 18px;
  }

  .heading {
    display: flex;
    flex-direction: column;
  }

  .age {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
  }

  .location {
    color: hsl(227, 10%, 46%);
    font-size: 14px;
  }

/* CARD FOOTER PART */
  .card-footer {
    display: flex;
    justify-content: space-around;
  }

  .footer-data {
    color: hsl(0, 0%, 59%);
    font-size: 9px;
    font-weight: 400;
  }
